<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <main class="app">
      <div class="preloader">
        <span class="preloader__text">
          The surprise of what is possible to make with a simple and thin
          thread.
        </span>
        <span class="preloader__progress">0%</span>
      </div>

      <div class="main-page">
        <div class="main-page__background">
          <span class="main-page__names">Aqui vai um texto</span>
          <div class="main-page__highlight__wrapper">
            <h1 class="active">Floema</h1>
            <h1>Xilema</h1>
            <h1>Garema</h1>
            <h1>Jurema</h1>
          </div>
          <span class="main-page__years"><span>1993</span><span>2025</span>
        </div>
        <!-- <div class="main-page__hero"></div> -->
        <div class="main-page__gallery">
          <figure class="main-page__media">
            <img
              src='<%= require("./images/placeholder.webp").default %>'
              alt="Placeholder"
              class="main-page__media__image"
            />
          </figure>
        </div>
      </div>
    </main>
  </body>
</html>
