<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <main class="app">
      <div class="main-page" id="main-page">
          <div class="main-page__background">
            <span class="main-page__background__top-text">Aqui vai um texto</span>
            <h1 class="main-page__background__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span>Scroll to discover</span></h1>
            <div class="main-page__background__highlight-wrapper">
              <h1>0001</h1>
              <h1>0002</h1>
              <h1>0003</h1>
            </div>
            <span class="main-page__background__bottom-text"><span>1993</span><span>2025</span>
          </div>
          <!-- <div class="main-page__hero"></div> -->
          <div class="main-page__content">
            <section class="main-page__year-wrapper">
              <div class="main-page__gallery">
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
              </div>
            </section>

            <section class="main-page__transition" data-scroll-transition data-transition-color="#ff0000"></section>

            <section class="main-page__year-wrapper">
              <div class="main-page__gallery">
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
              </div>
            </section>

            <section class="main-page__transition" data-scroll-transition data-transition-color="#0000ff"></section>

            <section class="main-page__year-wrapper">
              <div class="main-page__gallery">
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
                <figure class="main-page__media" data-animation="reveal">
                  <img
                    src='<%= require("./images/placeholder.webp").default %>'
                    alt="Placeholder"
                    class="main-page__media__image"
                  />
                </figure>
              </div>
            </section>
          </div>
        </div>
    </main>
  </body>
</html>
