<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="theme-color" content="#fafafa">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <main class="app">
      <div class="main-page" id="main-page" style="background-color: #fafafa;">
        <div class="main-page__background">
          <span class="main-page__background__top-text">Aqui vai um texto</span>
          <div class="main-page__background__text">
            <h1>
              Initial text goes here, it is quite long actually did you know
              that?
            </h1>
            <h1>
              Second text
              <span>Scroll to discover</span>
            </h1>
          </div>
          <div class="main-page__background__highlight-wrapper">
            <h1>2019</h1>
            <h1>2020</h1>
            <h1>2021</h1>
            <h1>2022</h1>
            <h1>2023</h1>
            <h1>2024</h1>
            <h1>2025</h1>
          </div>
          <span class="main-page__background__bottom-text"
            ><span>1993</span><span>2025</span></span
          >
        </div>
        <div class="main-page__content">
          <section class="main-page__year-wrapper">
            <div class="main-page__gallery year-2019">
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2019/00.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images//2019/01.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images//2019/02.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images//2019/03.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2019/04.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2019/05.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2019/06.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2019/07.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2019/08.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2019/09.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2019/10.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2019/11.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2019/12.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2019/13.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
            </div>
          </section>

          <section
            class="main-page__transition"
            data-scroll-transition
            data-transition-color="#2A9D8F"
          ></section>

          <section class="main-page__year-wrapper">
            <div class="main-page__gallery year-2020">
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2020/00.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2020/01.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2020/02.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2020/03.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2020/04.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2020/05.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2020/06.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2020/07.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2020/08.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2020/09.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2020/10.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2020/11.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2020/12.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2020/13.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
            </div>
          </section>

          <section
            class="main-page__transition"
            data-scroll-transition
            data-transition-color="#8AB17D"
          ></section>

          <section class="main-page__year-wrapper">
            <div class="main-page__gallery year-2021">
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2021/00.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2021/01.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2021/02.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2021/03.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2021/04.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2021/05.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2021/06.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2021/07.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2021/08.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2021/09.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2021/10.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2021/11.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2021/12.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2021/14.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
            </div>
          </section>

          <section
            class="main-page__transition"
            data-scroll-transition
            data-transition-color="#E9C46A"
          ></section>

          <section class="main-page__year-wrapper">
            <div class="main-page__gallery year-2022">
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2022/00.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2022/01.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2022/02.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2022/03.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2022/04.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2022/05.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2022/06.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2022/07.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2022/08.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2022/09.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2022/10.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2022/11.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2022/12.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2022/13.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2022/14.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2022/15.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2022/16.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
            </div>
          </section>

          <section
            class="main-page__transition"
            data-scroll-transition
            data-transition-color="#F4A261"
          ></section>

          <section class="main-page__year-wrapper">
            <div class="main-page__gallery year-2023">
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2023/00.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2023/01.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2023/02.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2023/03.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2023/04.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2023/05.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2023/06.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2023/07.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2023/08.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2023/09.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2023/10.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2023/11.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
            </div>
          </section>

          <section
            class="main-page__transition"
            data-scroll-transition
            data-transition-color="#E76F51"
          ></section>

          <section class="main-page__year-wrapper">
            <div class="main-page__gallery year-2024">
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2024/00.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2024/01.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2024/02.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2024/03.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2024/04.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2024/05.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2024/06.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2024/07.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2024/08.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2024/09.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2024/10.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2024/11.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2024/12.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2024/13.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2024/14.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2024/15.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
            </div>
          </section>

          <section
            class="main-page__transition"
            data-scroll-transition
            data-transition-color="#C663A7"
          ></section>

          <section class="main-page__year-wrapper">
            <div class="main-page__gallery year-2025">
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2025/00.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2025/01.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2025/02.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
              <figure class="main-page__media" data-animation="parallax">
                <img
                  src='<%= require("./images/2025/03.webp").default %>'
                  alt="Placeholder"
                  class="main-page__media__image"
                />
                <figcaption class="main-page__media__description">
                  An elephant at sunset</br>
                  <strong>21 March 1999</strong>
                </figcaption>
              </figure>
            </div>
          </section>

          <section class="main-page__last-section">
            <h1 class="main-page__last-section__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              <span>Scroll to discover</span>
            </h1>
          </section>
        </div>
      </div>
    </main>
  </body>
</html>
