@use "../utils/mixins.scss" as *;
@use "./utils/variables.scss" as *;
@use "./utils/responsive.scss" as *;
@use "../../node_modules/include-media/dist/include-media" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  @extend %cover;

  background: $background-1;

  font-size: calc(100vw / 1920 * 10);
  overflow: hidden;

  position: fixed;

  @include media("<1024px") {
    color: red;
    font-size: calc(100vw / 1024 * 10);
  }
  @include media("<600px") {
    color: blue;
    font-size: calc(100vw / 600 * 10);
  }
}

body {
  font-family: $font-helvetica, serif;
  font-size: 1.6rem;
  font-weight: 300;
}

img {
  vertical-align: middle;
}
