@use "../../utils/mixins.scss" as *;
@use "../../utils/functions.scss" as *;
@use "../../utils/variables.scss" as *;
@use "../../shared/titles.scss" as *;
@use "../../shared/descriptions.scss" as *;
@use "../../shared/scroll-transitions.scss" as *;
@use '../../utils/responsive.scss' as *;

@use "../../../node_modules/include-media/dist/include-media" as *;

.main-page {
  @extend %cover;
  @extend %center;
}

.main-page__background {
  @extend %cover;
  @extend %center;
}

.main-page__background__top-text {
  @extend %description-16;

  position: absolute;
  top: 7.3rem;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
  opacity: 0.48;
  z-index: z("top-bottom-texts");
}

.main-page__background__text {
  @extend %title-36;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  & span {
    @extend %description-18;
    font-family: $font-helvetica, serif;
    display: block;
    opacity: 0.64;
    margin-top: 1rem;
  }
}

.main-page__background__highlight-wrapper {
  h1 {
    font-family: $font-helvetica, sans-serif;
    font-size: 12rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;

    .char {
      opacity: 0;
      will-change: transform;
    }
  }
}

.main-page__background__bottom-text {
  @extend %description-16;

  position: absolute;
  bottom: 7.3rem;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
  opacity: 0.48;
  z-index: z("top-bottom-texts");

  display: flex;
  gap: 3.2rem;

  &::before {
    content: "";
    display: block;
    width: 2rem;
    height: 1px;
    background-color: black;

    position: absolute;
    left: 50%;
    top: calc(50% - 1px);
    transform: translate(-50%, -50%);
  }
}

.main-page__content {
  position: absolute;
  top: 100vh;
  top: calc(var(--vh, 1vh) * 100);

  @include media("<600px") {
    left: 5.3333333333vw;
    right: 5.3333333333vw;
  }

  @include media(">=601px") {
    left: 1.3888888889vw;
    right: 1.3888888889vw;
  }
}

.main-page__year-wrapper {
  margin-bottom: 20rem;
}

.main-page__transition {
  @extend %scroll-transition;
}

.main-page__last-section {
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}

.main-page__last-section__text {
  @extend %title-64;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  & span {
    @extend %description-18;
    font-family: $font-helvetica, serif;
    display: block;
    opacity: 0.64;
    margin-top: 1rem;
  }
}
